#!/usr/bin/env python 
#This file is used to setup the wardrive application.

#The following sets the wireless interface you will be using for scanning networks(default wlan0).
[Wireless Interface Setup]
wireless_interface = "wlan0"

#the following sets your Wigle.net Username and password used to upload your GPS/Wifi data to Wigle.net
[Wigle.net Setup]
wigleUsername = ''
wiglePassword = ''

#the following sets the location and filename of the output file kismet produces.
[Kismet Setup]
kismetOutputFileName = '/home/pi/Piwardrive/logfiles/kismetOutput.cap'

##The following sets your SSID and WPA/WEP/WPA2 Key used to connect to you network. This is used during the upload process to wigle.net
[Home Wireless Setup]
ssid = ''
network_key = ''
